html {
  font-size: 62.5%;
}

$color--primary: #293264;

body {
  margin: 0;
  background-color: #f5f7fb;
  font-family: "Karla", "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.quizzical__container {
  width: 100vw;
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 1.5rem 6rem;

  &--primary {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #f5f7fb;
    background: #4d5b9e;
    border-radius: 15px;
    border: none;
  }
}
